<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{% block title %}{% endblock %} | Moogle Forms</title>
  
  <link rel="icon" href="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_qp2.png" />
  <link rel="stylesheet" href="{{ url_for('style') }}" type="text/css" />
  
  {% block head %}{% endblock %}
</head>
  
<body>
  <main>{% block content %}{% endblock %}</main>
</body>
  
</html>
