{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" type="text/css" />
  
  <script type="text/javascript" src="{{ url_for('edit_script') }}"></script>
{% endblock %}

{% block content %}
  <header>
    <button class="material-symbols-outlined" title="To JSON" onclick="getJSONData();">data_object</button>
    <span id="json">{}</span>
  </header>
  
  <section id="top">
    <h1 contenteditable id="form-title">Untitled form</h1>
    <p>Form description: <span contenteditable id="form-desc"></span></p>
    <button class="save-data" onclick="saveFormData();">Save Data</button>
  </section>
  
  <div id="content"></div>
  
  <section id="add">
    <select id="q-dropdown">
      <option value="" selected disabled>Please select an option...</option>
      <option value="MultipleChoiceQuestion">Multiple-choice</option>
      <option value="ShortAnswerQuestion">Short answer</option>
      <option value="ParagraphQuestion">Paragraph answer</option>
      <option value="DropdownQuestion">Dropdown</option>
      <option value="Text">Title & description</option>
      <option value="Image">Image</option>
    </select>
    <button class="material-symbols-outlined" onclick="addContent();">add</button>
  </section>
{% endblock %}
