<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moogle Forms</title>
  <link href="/static/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <section id="top">
    <h1 contenteditable id="form-title">Untitled form</h1>
    <p>Form description: <span contenteditable id="form-desc"></span></p>
    <button class="save-data" onclick="saveFormData();">Save Data</button>
  </section>
  <div id="content"></div>
  <section id="add">
    <button class="material-symbols-outlined" onclick="addQuestion();">add</button>
  </section>
  <script src="/static/form.js"></script>
</body>
</html>
